/* Sass */
* {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  scroll-behavior: smooth;
  box-sizing: border-box;
  user-select: none;
  -webkit-text-size-adjust: 100%;
}

h1 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.textoTitulo {
  font-family: "GidolinyaRegular", sans-serif;
  position: absolute;
  z-index: 1;
  font-style: normal;
  text-align: right;
  border-color: black;
  color: white;
  text-shadow: 0 0 3px black, 0 0 3px black, 0 0 3px black, 0 0 3px black;
  line-height: 95%;
  bottom: -1px;
  font-display: fallback;
}
@media (min-width: 361px) and (max-width: 768px) {
  .textoTitulo {
    font-size: 30px;
    width: 250px;
    right: 50px;
  }
}
@media (min-width: 769px) and (max-width: 1360px) {
  .textoTitulo {
    font-size: 50px;
    width: 350px;
    right: 100px;
  }
}
@media (min-width: 1361px) {
  .textoTitulo {
    font-size: 85px;
    width: 500px;
    right: 85px;
  }
}

img {
  aspect-ratio: attr(width)/attr(height);
}

.margenMenu {
  margin-top: 6.5rem;
}

/* Barra Nav */
.style-nav {
  background-color: #a8a8a8;
}

.navTrabajo {
  color: white;
  text-decoration: none;
}

.navTrabajo:hover {
  color: black;
}

.bg-light {
  background-color: #a8a8a8 !important;
}

.sizeImgageNav {
  width: 100%;
}

.sizeFontNavBar {
  font-size: 1.2em;
}

.containerCarousel {
  width: initial;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  align-items: center;
}

.posicionCirculos {
  width: 350px;
  right: 150px;
  z-index: 1;
}
@media (min-width: 361px) and (max-width: 768px) {
  .posicionCirculos {
    width: 150px;
  }
}
@media (min-width: 769px) and (max-width: 1360px) {
  .posicionCirculos {
    width: 250px;
  }
}
@media (min-width: 1361px) {
  .posicionCirculos {
    width: 350px;
  }
}

.posicionFlecha {
  position: absolute;
  left: 10%;
  bottom: 1%;
  width: 50%;
  font-size: 2rem;
  color: white;
  z-index: 1;
}

.styleLema {
  height: 8%;
  width: 65%;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.tituloLema {
  font-family: "GidolinyaRegular", sans-serif;
  font-size: 2rem;
  font-display: fallback;
  padding: 10px;
}
@media (max-width: 360px) {
  .tituloLema {
    font-size: 1rem;
  }
}
@media (min-width: 361px) and (max-width: 768px) {
  .tituloLema {
    font-size: 1.2rem;
  }
}
@media (min-width: 769px) and (max-width: 1360px) {
  .tituloLema {
    font-size: 1.5rem;
  }
}

.sizeTexto {
  font-size: 1.8rem !important;
  font-weight: bolder;
}

.sizeIconos {
  font-size: 1.8rem !important;
  font-weight: bolder;
}

.tituloNosotros {
  font-family: "GidolinyaRegular", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  font-display: fallback;
}
@media (max-width: 360px) {
  .tituloNosotros {
    font-size: 1.4rem;
  }
}
@media (min-width: 361px) and (max-width: 768px) {
  .tituloNosotros {
    font-size: 1.8rem;
  }
}
@media (min-width: 769px) and (max-width: 1360px) {
  .tituloNosotros {
    font-size: 2rem;
  }
}

.sizeNombre {
  font-size: large;
  font-weight: bolder;
}

.margenFotoNosotros {
  margin: 2.5rem 0rem 0rem 0.5rem;
}
@media (min-width: 361px) and (max-width: 768px) {
  .margenFotoNosotros {
    margin: 0;
  }
}

.sizeTextoNosotros {
  text-align: justify;
  color: black;
}
@media (max-width: 360px) {
  .sizeTextoNosotros {
    font-size: 0.8rem;
  }
}
@media (min-width: 361px) and (max-width: 768px) {
  .sizeTextoNosotros {
    font-size: 1rem;
  }
}
@media (min-width: 769px) and (max-width: 1360px) {
  .sizeTextoNosotros {
    font-size: 1.1rem;
  }
}
@media (min-width: 1361px) {
  .sizeTextoNosotros {
    font-size: 1.2rem;
  }
}

/* Seccion Servicios */
.tituloSeccionServicios {
  font-family: "GidolinyaRegular", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  font-display: fallback;
}
@media (max-width: 360px) {
  .tituloSeccionServicios {
    font-size: 1.6rem;
  }
}
@media (min-width: 361px) and (max-width: 768px) {
  .tituloSeccionServicios {
    font-size: 2rem;
  }
}
@media (min-width: 769px) and (max-width: 1360px) {
  .tituloSeccionServicios {
    font-size: 2.5rem;
  }
}

.colorServicios {
  background-color: #ebcc93;
  opacity: 93%;
}

.backgroundservicios {
  background-color: #ebcc93;
}

.sizeFotoServicios {
  width: 90%;
  margin: 2%;
}

.containerServicios {
  text-align: center;
  margin: 4%;
}

.tituloServicios {
  font-family: "GidolinyaRegular", sans-serif;
  font-display: fallback;
  padding: 4%;
  margin: 3%;
  font-size: 2.5rem;
  box-shadow: inset 0 0.5em 1.5em rgba(190, 147, 2, 0.705), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
@media (max-width: 360px) {
  .tituloServicios {
    margin: 1%;
    padding: 1%;
    font-size: 1rem;
  }
}
@media (min-width: 361px) and (max-width: 768px) {
  .tituloServicios {
    margin: 3%;
    padding: 3%;
    font-size: 1.5rem;
  }
}
@media (min-width: 769px) and (max-width: 1360px) {
  .tituloServicios {
    margin: 3%;
    padding: 3%;
    font-size: 1.8rem;
  }
}

.textoServicios {
  padding: 6%;
  margin: 3%;
  font-size: 1.2rem;
  text-align: justify;
  color: black;
}
@media (max-width: 360px) {
  .textoServicios {
    margin: 1%;
    padding: 1%;
    font-size: 0.8rem;
  }
}
@media (min-width: 361px) and (max-width: 768px) {
  .textoServicios {
    margin: 3%;
    padding: 3%;
    font-size: 1rem;
  }
}
@media (min-width: 769px) and (max-width: 1360px) {
  .textoServicios {
    margin: 3%;
    padding: 3%;
    font-size: 1.1rem;
  }
}

.containerServicio {
  max-width: 90%;
}

.contenedor {
  position: relative;
  height: 460px;
  width: 100%;
  float: left;
}
@media (max-width: 360px) {
  .contenedor {
    height: 115px;
  }
}
@media (min-width: 361px) and (max-width: 768px) {
  .contenedor {
    height: 190px;
  }
}
@media (min-width: 769px) and (max-width: 1360px) {
  .contenedor {
    height: 380px;
  }
}

.contenedor img {
  position: absolute;
  left: 0;
  transition: opacity 1.3s ease-in-out;
}

.contenedor img.top:hover {
  opacity: 0;
}

/* Seccion Trabajos */
.tituloSeccionTrabajo {
  font-family: "GidolinyaRegular", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  font-display: fallback;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
@media (max-width: 360px) {
  .tituloSeccionTrabajo {
    font-size: 1.4rem;
  }
}
@media (min-width: 361px) and (max-width: 768px) {
  .tituloSeccionTrabajo {
    font-size: 1.8rem;
  }
}
@media (min-width: 769px) and (max-width: 1360px) {
  .tituloSeccionTrabajo {
    font-size: 2rem;
  }
}

.fondo-trabajo1 {
  background-image: url("../img/habAdoles.jpg");
}

.fondo-trabajo2 {
  background-image: url("../img/habMatrimonial.jpg");
}

.fondo-trabajo3 {
  background-image: url("../img/crearPlack.jpg");
}

.fondo-trabajo4 {
  background-image: url("../img/brbAmoblamientos.jpg");
}

.fondo-trabajo5 {
  background-image: url("../img/vittalia.jpg");
}

.containerCentradoTrabajos, .containerCentrado {
  display: flex;
  align-items: center;
}

.containerCentrado {
  justify-content: center;
}

.containerCentradoTrabajos {
  justify-content: space-around;
  padding: 0.5em;
}

/* boton Home */
.botonHome {
  text-decoration: none;
  font-size: medium;
  color: #353535;
  background-color: #a8a8a8;
  border-radius: 8px;
  padding: 0.5em;
  margin: 2%;
}
.botonHome:hover {
  color: black;
}

.margenMenuTrabajos {
  margin-top: 9%;
}

.containerCarousel {
  padding: auto;
  max-height: 90vh;
  max-width: 100%;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
}

.tituloTrabajos {
  font-family: "GidolinyaRegular", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  font-display: fallback;
}
@media (max-width: 360px) {
  .tituloTrabajos {
    font-size: 1.4rem;
  }
}
@media (min-width: 361px) and (max-width: 768px) {
  .tituloTrabajos {
    font-size: 1.6rem;
  }
}
@media (min-width: 769px) and (max-width: 1360px) {
  .tituloTrabajos {
    font-size: 1.8rem;
  }
}

.textoTrabajos {
  text-align: justify;
  color: black;
}

/* Footer */
.tituloFooter {
  font-family: "GidolinyaRegular", sans-serif;
  font-size: 3rem;
  font-weight: bolder;
  font-display: fallback;
}
@media (max-width: 360px) {
  .tituloFooter {
    font-size: 1.4rem;
  }
}
@media (min-width: 361px) and (max-width: 768px) {
  .tituloFooter {
    font-size: 1.8rem;
  }
}
@media (min-width: 769px) and (max-width: 1360px) {
  .tituloFooter {
    font-size: 2rem;
  }
}

.fondoFooter {
  background-color: #a8a8a8;
}

.footerIndex {
  justify-content: center;
  text-decoration: none;
  list-style: none;
}

.sizeTextoFooter {
  padding: 1.5%;
  font-size: 1.3rem;
  color: black;
}
@media (max-width: 360px) {
  .sizeTextoFooter {
    font-size: 0.6rem;
  }
}
@media (min-width: 361px) and (max-width: 768px) {
  .sizeTextoFooter {
    font-size: 0.7rem;
  }
}
@media (min-width: 769px) and (max-width: 1360px) {
  .sizeTextoFooter {
    font-size: 0.9rem;
  }
}
@media (min-width: 1361px) {
  .sizeTextoFooter {
    font-size: 1.1rem;
  }
}

.sizeTextoFooterContacto {
  font-size: 0.8rem;
  color: black;
}
@media (max-width: 360px) {
  .sizeTextoFooterContacto {
    font-size: 0.85rem;
  }
}
@media (min-width: 361px) and (max-width: 768px) {
  .sizeTextoFooterContacto {
    font-size: 0.9rem;
  }
}
@media (min-width: 769px) and (max-width: 1360px) {
  .sizeTextoFooterContacto {
    font-size: 1rem;
  }
}
@media (min-width: 1361px) {
  .sizeTextoFooterContacto {
    font-size: 1.1rem;
  }
}

.sizeLogoMlm {
  width: 5%;
  min-width: 60px;
}

.margenMenuError {
  margin-top: 5.8rem;
}

.fondoError404 {
  background-color: #a8a8a8;
}

.tituloError404 {
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
}

.sizeNombre {
  font-size: large;
  font-weight: bolder;
  text-align: center;
}

.size404video {
  width: 33%;
  min-width: 320px;
}

.margenMenuError {
  margin-top: 8rem;
}

.fondoGracias {
  background-color: #a8a8a8;
}

.sizeGracias {
  width: 55%;
  max-width: 1000px;
}

/*# sourceMappingURL=styles.css.map */
