// Variables

// colores 
$amarillo: rgb(246, 242, 124);
$grisclaro: rgb(168, 168, 168);
$grisoscuro: rgb(102, 102, 102);
$negro: black;
$blanco: white;

// variables puntos de quiebre:
$breakpoint-xs: 360px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1361px;

// variables tamaño de títulos
$sizeTit: 2.5rem