// Variables

// colores 
$colorNav: rgb(168, 168, 168);
$colorFooter: rgb(168, 168, 168);
$grisoscuro: rgb(53, 53, 53);
$colorServicios: rgb(235, 204, 147);
$fondoOscuro: black;
$fondoClaro: white;

// variables puntos de quiebre:
$breakpoint-xs: 360px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1361px;

// variables tamaño de títulos
$sizeTit: 3rem

