// Seccion Nosotros

.margenMenuError {
    margin-top: 5.8rem;
}
.fondoError404 {
    background-color: $grisclaro;
}

.tituloError404 {
    font-size: $sizeTit;
    font-weight: bolder;
    text-align: center;
}

.sizeNombre {
    font-size: large;
    font-weight: bolder;
    text-align: center;
}

.size404video {
    width: 33%;
    min-width: 320px;
}