/* Footer */

.tituloFooter {
    font-family: 'GidolinyaRegular', sans-serif;
    font-size: $sizeTit;
    font-weight: bolder;
    font-display: fallback;

    @include media(xs) {
        font-size: 1.4rem;
    }

    @include media(sm) {
        font-size: 1.8rem;
    }

    @include media(md) {
        font-size: 2rem;
    }
}

.fondoFooter {
    background-color: $colorFooter;
}

.footerIndex {
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

.sizeTextoFooter {
    padding: 1.5%;
    font-size: 1.3rem;
    color: $fondoOscuro;

    @include media(xs) {
        font-size: .6rem;
    }

    @include media(sm) {
        font-size: .7rem;
    }

    @include media(md) {
        font-size: .9rem;
    }

    @include media(lg) {
        font-size: 1.1rem;
    }
}

.sizeTextoFooterContacto {
    font-size: .8rem;
    color: $fondoOscuro;

    @include media(xs) {
        font-size: .85rem;
    }

    @include media(sm) {
        font-size: .9rem;
    }

    @include media(md) {
        font-size: 1rem;
    }

    @include media(lg) {
        font-size: 1.1rem;
    }
}

.sizeLogoMlm {
    width: 5%;
    min-width: 60px;
}