// Headers

h1 {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.textoTitulo {
    font-family: 'GidolinyaRegular', sans-serif;
    position: absolute;
    z-index: 1;
    font-style: normal;
    text-align: right;
    border-color: $fondoOscuro;
    color: $fondoClaro;
    text-shadow: 0 0 3px $fondoOscuro, 0 0 3px $fondoOscuro, 0 0 3px $fondoOscuro, 0 0 3px $fondoOscuro;
    line-height: 95%;
    bottom: -1px;
    font-display: fallback;

    @include media(sm) {
        @include posicionTitulo(30px, 250px, 50px);
    }

    @include media(md) {
        @include posicionTitulo(50px, 350px, 100px);
    }

    @include media(lg) {
        @include posicionTitulo(85px, 500px, 85px);
    }
}

img{
    aspect-ratio: attr(width) / attr(height);
}

.margenMenu {
    margin-top: 6.5rem;
}

/* Barra Nav */
.style-nav {
    background-color: $colorNav;
}

.navTrabajo {
    color: white;
    text-decoration: none;

}

.navTrabajo:hover {
    color: $fondoOscuro;
}

.bg-light {
    background-color: $colorNav !important;
}

.sizeImgageNav {
    width: 100%;
}

.sizeFontNavBar {
    font-size: 1.2em;
}

.containerCarousel {
    width: initial;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    align-items: center;
}

.posicionCirculos {
    width: 350px;
    right: 150px;
    z-index: 1;

    @include media(sm) {
        width: 150px;
    }

    @include media(md) {
        width: 250px;
    }

    @include media(lg) {
        width: 350px;
    }
}

.posicionFlecha {
    position: absolute;
    left: 10%;
    bottom: 1%;
    width: 50%;
    font-size: 2rem;
    color: $fondoClaro;
    z-index: 1;
}

.styleLema {
    height: 8%;
    width: 65%;
    align-content: center;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.tituloLema {
    font-family: 'GidolinyaRegular', sans-serif;
    font-size: 2rem;
    font-display: fallback;
    padding: 10px;

    @include media(xs) {
        font-size: 1rem;
    }

    @include media(sm) {
        font-size: 1.2rem;
    }

    @include media(md) {
        font-size: 1.5rem;
    }
}

.sizeTexto {
    font-size: 1.8rem !important;
    font-weight: bolder;
}

.sizeIconos {
    font-size: 1.8rem !important;
    font-weight: bolder;
}