// Seccion Nosotros

.tituloNosotros {
    font-family: 'GidolinyaRegular', sans-serif ;
    font-size: $sizeTit;
    font-weight: bolder;
    font-display: fallback;

    @include media(xs) {
        font-size: 1.4rem;
    }

    @include media(sm) {
        font-size: 1.8rem;
    }

    @include media(md){
        font-size: 2rem;
    }
}

.sizeNombre {
    font-size: large;
    font-weight: bolder;

}

.margenFotoNosotros {
    margin: 2.5rem 0rem 0rem .5rem;
    @include media(sm) {
        margin: 0;
    }
}

.sizeTextoNosotros {
    text-align: justify;
    color: $fondoOscuro;
    
    @include media(xs) {
        font-size: .8rem;
    }

    @include media(sm) {
        font-size: .1rem;
    }

    @include media(md){
        font-size: 1.1rem;
    }

    @include media(lg){
        font-size: 1.2rem;
    }
}