/* Seccion Servicios */

.tituloSeccionServicios {
    font-family: 'GidolinyaRegular', sans-serif ;
    font-size: $sizeTit;
    font-weight: bolder;
    font-display: fallback;

    @include media(xs) {
        font-size: 1.6rem;
    }

    @include media(sm) {
        font-size: 2rem;
    }

    @include media(md){
        font-size: 2.5rem;
    }
}


.colorServicios {
    background-color: $colorServicios;
    opacity: 93%;
}

.backgroundservicios {
    background-color: $colorServicios;
}


.sizeFotoServicios {
    width: 90%;
    margin: 2%;
}

.containerServicios {
    text-align: center;
    margin: 4%;
}

.tituloServicios {
    font-family: 'GidolinyaRegular', sans-serif ;
    font-display: fallback;
    padding: 4%;
    margin: 3%;
    font-size: 2.5rem;
    box-shadow: inset 0 0.5em 1.5em rgba(190, 147, 2, 0.705), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
    
    @include media(xs) {
        margin: 1%;
        padding: 1%;
        font-size: 1rem;
    }

    @include media(sm) {
        margin: 3%;
        padding: 3%;
        font-size: 1.5rem;
    }

    @include media(md){
        margin: 3%;
        padding: 3%;
        font-size: 1.8rem;
    }
}

.textoServicios {
    padding: 6%;
    margin: 3%;
    font-size:  1.2rem;
    text-align: justify;
    color: $fondoOscuro;
    
    @include media(xs) {
        margin: 1%;
        padding: 1%;
        font-size: .8rem;
    }

    @include media(sm) {
        margin: 3%;
        padding: 3%;
        font-size: 1rem;
    }

    @include media(md){
        margin: 3%;
        padding: 3%;
        font-size: 1.1rem;
    }

}

.containerServicio {
    max-width: 90%
}

.contenedor {
position: relative;
height: 460px;
width: 100%;
float: left;

@include media(xs) {
    height: 115px;
}

@include media(sm) {
    height: 190px;
}

@include media(md){
    height: 380px;
}
}

.contenedor img {
position: absolute;
left: 0;
transition: opacity 1.3s ease-in-out;
}

.contenedor img.top:hover {
opacity: 0;
}