/* Seccion Trabajos */

.tituloSeccionTrabajo {
    font-family: 'GidolinyaRegular', sans-serif;
    font-size: $sizeTit;
    font-weight: bolder;
    font-display: fallback;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);

    @include media(xs) {
        font-size: 1.4rem;
    }

    @include media(sm) {
        font-size: 1.8rem;
    }

    @include media(md) {
        font-size: 2rem;
    }
}


.fondo-trabajo1 {
    background-image: url("../img/habAdoles.jpg");
}

.fondo-trabajo2 {
    background-image: url("../img/habMatrimonial.jpg");
}

.fondo-trabajo3 {
    background-image: url("../img/crearPlack.jpg");
}

.fondo-trabajo4 {
    background-image: url("../img/brbAmoblamientos.jpg");
}

.fondo-trabajo5 {
    background-image: url("../img/vittalia.jpg");
}

.fondo-trabajo6 {
    background-image: url("../img/plenus.jpg");
}

%Flexbox {
    display: flex;
    align-items: center;
}

.containerCentrado {
    @extend %Flexbox;
    justify-content: center;
}

.containerCentradoTrabajos {
    @extend %Flexbox;
    justify-content: space-around;
    padding: 0.5em;
}


/* boton Home */
.botonHome {
    text-decoration: none;
    font-size: medium;
    color: $grisoscuro;
    background-color: $colorNav;
    border-radius: 8px;
    padding: 0.5em;
    margin: 2%;

    &:hover {
        color: $fondoOscuro;
    }
}

.margenMenuTrabajos {
    margin-top: 9%;
}

.containerCarousel {
    padding: auto;
    max-height: 90vh;
    max-width: 100%;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
}

.tituloTrabajos {
    font-family: 'GidolinyaRegular', sans-serif;
    font-size: $sizeTit;
    font-weight: bolder;
    font-display: fallback;

    @include media(xs) {
        font-size: 1.4rem;
    }

    @include media(sm) {
        font-size: 1.6rem;
    }

    @include media(md) {
        font-size: 1.8rem;
    }
}


.textoTrabajos {
    text-align: justify;
    color: $fondoOscuro;
}
